<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script src="../../src/onesignal/OneSignalSetUp.js"></script>
    <script type="module" src="../../src/notificationPermission.js"></script>
    <title>Home</title>
</head>
<body>
    <p>Reached Home Page</p>
    <br>
    <a href="/views/profile.html">Profile</a>
    <br>
    <a href="./location.html">Locations</a>
    <br>
    <a href="./restaurants.html">Restaurants</a>
    <br>
    <a href="./cart.html">Cart</a>
    <br>
    <a href="./orders.html">Orders List</a>
</body>
</html>